body {
    background-image: repeating-conic-gradient(from 30deg, #ffffff 0% 60deg, rgba(166, 179, 22, 0.07) 0% 120deg);
    background-size: 24px 42px;
    background-color: rgba(166, 179, 22, 0.07);
}
