.project-card {
  border-radius: 50px;
  border: 1px solid #a6b316;
  background: #a6b3161f;
  box-shadow: 3px 3px #a6b316;
}

.btn-evo {
  background-color: #f7bc2d;
}

.btn-trisergi {
  background-color: #10e225;
}
