<body>
  <div style="width: 60%" class="text-center mx-auto">
    <div class="row">
      <div class="col-md-6 col-sm-6 mt-5">
        <a
          href="https://github.com/Yaxito"
          target="_blank"
          rel="nofollow noopener noreferrer"
          ><img
            title="GitHub"
            role="button"
            height="100px"
            src="assets\png\github.png"
        /></a>
      </div>
      <div class="col-md-6 col-sm-6 mt-5">
        <a
          href="mailto:davidcameselleep@gmail.com"
          target="_blank"
          rel="nofollow noopener noreferrer"
          ><img
            title="Email"
            role="Email"
            height="100px"
            src="assets\png\email.png"
        /></a>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 col-sm-6 mt-5">
        <a
          href="https://www.youtube.com/c/EvolutionCycling"
          target="_blank"
          rel="nofollow noopener noreferrer"
          ><img
            title="Youtube"
            role="button"
            height="100px"
            src="assets\png\youtubelogo.png"
        /></a>
      </div>
      <div class="col-md-6 col-sm-6 mt-5">
        <a
          href="https://www.linkedin.com/in/david-cameselle-mart%C3%ADn/"
          target="_blank"
          rel="nofollow noopener noreferrer"
          ><img
            title="LinkedIn"
            role="button"
            height="100px"
            src="assets\png\linkedin.png"
        /></a>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="card-body">
      <h5
        title="{{ 'myprojects' | translate }}"
        class="card-title h1 title-font mb-5"
      >
        {{ "myprojects" | translate }}
      </h5>

      <div class="card mb-3 project-card">
        <div class="card-body">
          <img
            title="Evolution Cycling"
            height="150px"
            src="assets\png\logo-evo.png"
            alt="Logo Evolution Cycling ®️"
          />
          <p class="card-text h4 mt-3">
            {{ "evo" | translate }}
          </p>
          <a
            href="https://www.evolutioncycling.es/"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-evo mt-3"
            >{{ "viewweb" | translate }}</a
          >
        </div>
      </div>

      <div class="card mb-3 project-card">
        <div class="card-body">
          <img
            title="TriSergi Coach"
            height="150px"
            src="assets\png\logo-trisergi.png"
            alt="Logo TriSergiCoach"
          />
          <p class="card-text h4 mt-3">{{ "trisergi" | translate }}</p>
          <a
            routerLink="/trisergi"
            routerLinkActive="active"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-trisergi mt-3"
            >{{ "viewweb" | translate }}</a
          >
        </div>
      </div>
    </div>
  </div>
</body>
