<body>
    <div style="width: 60%;" class="text-center mx-auto">
        <div class="row mb-5">
            <div class="col-md-6 col-sm-6 mt-5"><a href="https://github.com/Yaxito" target="_blank"
                    rel="nofollow noopener noreferrer"><img title="GitHub" role="button" height="100px"
                        src="../../../assets/png/github.png"></a></div>
            <div class="col-md-6 col-sm-6 mt-5"><a href="mailto:davidcameselleep@gmail.com" target="_blank"
                    rel="nofollow noopener noreferrer"><img role="Email" height="100px"
                        src="../../../assets/png/email.png"></a>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6 col-sm-6"><a href="https://www.youtube.com/c/EvolutionCycling" target="_blank"
                rel="nofollow noopener noreferrer"><img title="Youtube" role="button" height="100px"
                    src="../../../assets/png/youtubelogo.png"></a></div>
            <div class="col-md-6 col-sm-6"><a href="https://www.linkedin.com/in/david-cameselle-mart%C3%ADn/" target="_blank"
                rel="nofollow noopener noreferrer"><img title="LinkedIn" role="button" height="100px"
                    src="../../../assets/png/linkedin.png"></a></div>
        </div>
    </div>

    <!-- <div class="text-center h-100 w-100">
        <iframe class="mt-4" width="60%" height="60%"
            src="https://www.youtube.com/embed/videoseries?list=PLvc_EMRp7XzCQwOad5E2qtHXqlQY5awJh"
            title="YouTube video player" frameborder="0" autoplay="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div> -->
</body>