<body>
  <div class="text-center">
    <div class="card-body">
      <h5
        title="{{ 'myprojects' | translate }}"
        class="card-title h1 title-font-1 mb-4"
      >
        {{ "myprojects" | translate }}
      </h5>
      <div class="card mb-3 project-card">
        <div class="card-body">
          <img
            title="Evolution Cycling"
            height="150px"
            src="assets\png\logo-evo.png"
            alt="Logo Evolution Cycling ®️"
          />
          <p class="card-text h4 mt-3">
            {{ "evo" | translate }}
          </p>
          <p class="card-text h6 mt-3">Netbeans -> Java</p>
          <a
            href="https://www.evolutioncycling.es/"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-evo mt-3"
            >{{ "viewweb" | translate }}</a
          >
        </div>
      </div>

      <div class="card mb-3 project-card">
        <div class="card-body">
          <img
            title="TriSergi Coach"
            height="150px"
            src="assets\png\logo-trisergi.png"
            alt="Logo TriSergiCoach"
          />
          <p class="card-text h4 mt-3">{{ "trisergi" | translate }}</p>
          <p class="card-text h6 mt-3">Android Studio -> Kotlin</p>
          <a
            routerLink="/trisergicoachapp"
            routerLinkActive="active"
            class="btn btn-trisergi mt-3"
            >{{ "viewweb" | translate }}</a
          >
        </div>
      </div>
    </div>
  </div>
</body>
