<body>
  <div class="text-center">
    <div class="card-body">
      <h1 class="card-title h1 title-font mb-5">
        {{ "trisergi" | translate }}
      </h1>
      <img height="300px" src="{{ imagen1 }}" alt="Imagen 1" />
      <img height="300px" src="{{ imagen2 }}" alt="Imagen 2" />
      <p>{{ descripcion }}</p>
      <h4>{{ "privacy" | translate }}</h4>
      <p>{{ "privacyp1" | translate }}</p>
      <h5>{{ "privacyp2" | translate }}</h5>
      <p>{{ "privacyp2Content" | translate }}</p>
    </div>
  </div>
</body>
