<body>
  <div class="text-center">
    <div class="card-body">
      <h1 class="card-title h1 title-font mb-5">
        {{ "trisergi" | translate }}
      </h1>
      <img height="300px" src="{{ imagen1 }}" alt="Imagen 1" />
      <img height="300px" src="{{ imagen2 }}" alt="Imagen 2" />
      <p>{{ descripcion }}</p>
      <h4>{{ "privacyp1" | translate }}</h4>
      <p>{{ "privacyp2" | translate }}</p>
      <p>{{ "privacyp3" | translate }}</p>
      <h4>{{ "privacyp4" | translate }}</h4>
      <p>{{ "privacyp5" | translate }}</p>
      <p>
        {{ "privacyp6" | translate }}
        <a href="{{ 'analitycspolicy' | translate }}"> Google Analitycs</a>
      </p>
      <h4>{{ "privacyp7" | translate }}</h4>
      <p>
        {{ "privacyp8" | translate }}
        <a href="{{ 'admobpolicy' | translate }}"> Google AdMob</a>
      </p>
      <p>{{ "privacyp9" | translate }}</p>
      <p>{{ "privacyp10" | translate }}</p>
      <p>{{ "privacyp11" | translate }}</p>
      <h4>{{ "privacyp12" | translate }}</h4>
      <p>
        {{ "privacyp13" | translate }}
        <a href="mailto:nyarcodetechnologies@gmail.com">{{
          "email" | translate
        }}</a>
        (nyarcodetechnologies@gmail.com)
      </p>
    </div>
  </div>
</body>
