<div class="sidebar">
  <div class="text-center mt-4"><img class="zoom" height="180" src="../assets/png/Donut.png">
    <p class="h3">Yaxito</p>
  </div>
  <a routerLink="/home" routerLinkActive="active" class="progressbar">Home</a>
  <a routerLink="/aboutme" routerLinkActive="active" class="progressbar">About Me</a>
  <a routerLink="/contact" routerLinkActive="active" class="progressbar">Contact</a>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

<div class="spin">
  <img height="50px" src="../assets/png/donutmordido.png">
</div>